{% extends "base.html" %}

{% block content %}
<div ng-controller="ctrl" class="container" style="padding-top: 20px">

  <welcome></welcome>

  <div profile="leo" class="well">
    <span style="padding-right: 15px">
      <b>Name: </b>[[ user.name ]] [[ user.surname ]]</span>
    <span style="padding-right: 15px">
      <b>Age:</b> [[ user.age ]]</span>
    <span style="padding-right: 15px">
      <b>Occupation:</b> [[ user.occupation ]]</span>
  </div>

  <div class="blackboard">
  </div>

</div>
{% endblock %}
