<!DOCTYPE html>
<html>
  <body>
    <form method="POST" action="/save/">{% csrf_token %}
      Name:
      <input type="text" name="name" value="" />
      <input type="submit" />
    </form>
  </body>
</html>
