{% extends "base.html" %}
{% load staticfiles %}

{% block title %}UAV Ground Station{% endblock%}

{% block head %}
<link href="http://openlayers.org/en/v3.6.0/css/ol.css" type="text/css" rel="stylesheet">

<script src="http://openlayers.org/en/v3.6.0/build/ol.js" type="text/javascript"></script>
<script src="{% static 'maps/js/app.js' %}" type="text/javascript"></script>
<script src="{% static 'maps/js/controllers.js' %}" type="text/javascript"></script>

<style>
#map {
  height: 400px;
  width: 100%;
}
#map:-moz-full-screen {
  height: 100%;
}
#map:-webkit-full-screen {
  height: 100%;
}
#map:-ms-fullscreen {
  height: 100%;
}
#map:fullscreen {
  height: 100%;
}
</style>
{% endblock %}

{% block body %}

<div ng-app="MapApp" ng-controller="MapCtrl" id="MapCtrlId">
  <div class="well" style="padding: 0px">
    <div style="display: none">
      <i id="plane" class="fa fa-2x text-danger fa-plane"
	 ng-click="on_click_plane()"></i>
    </div>

    <div id="map"></div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <h3>User Events</h3>
      <hr />
      <div ng-show="!events.length" class="text-center">
	<i>Click somewhere on the map...</i>
      </div>

      <table ng-show="events.length" class="table" style="margin-bottom: 0px">
	<tr ng-repeat="event in events | orderBy:'number':true">
	  <td>[[ event.number ]]</td>
	  <td><p ng-bind-html="event.text"></p></td>
	</tr>
      </table>

    </div>
  </div>

</div>

{% endblock %}
