<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  </head>

  <body>
    <div class="container">

      <form method="POST" action="/">
	{% csrf_token %}

	<div class="row">
	  <div class="col-sm-offset-3 col-sm-6">
	    <h2 class="text-center">¿Quién eres?</h2>

	    {% if error %}
	    <div class="alert alert-danger">{{ error }}</div>
	    {% endif %}

	    <div class="well">
	      <div class="form-group">
		<b>Nombre de usuario</b>
		<input class="form-control" type="text" required
		       name="username" />
	      </div>

	      <div class="form-group">
		<b>Contraseña</b>
		<div class="input-group">
		  <div class="input-group-addon"><i class="fa fa-fw fa-key"></i></div>
		  <input class="form-control" type="password" required
			 name="password" />
		</div>
	      </div>

	      <hr>
	      <div class="form-group text-center">
		<input class="btn btn-primary" type="submit" value="Entrar" style="width: 100%"/>
	      </div>
	    </div>

	  </div>
	</div>
      </form>

      <div class="text-center">
        <a href="/register">Register</a>
      </div>
    </div>
  </body>
</html>

<!--
    Local Variables:
    truncate-lines: true
    End:
  -->
