{% extends "base.html" %}
{% load staticfiles %}

{% block title %}UAV Ground Station{% endblock%}

{% block head %}
<script src="{% static 'eventlog/js/app.js' %}"></script>
<script src="{% static 'eventlog/js/controllers.js' %}"></script>
{% endblock %}

{% block content %}
<div ng-app="EventLogApp">

  <div ng-controller="EventLogCtrl">

    <div class="panel panel-default">
      <div class="panel-body">
	<h3 style="margin-top: 5px">Flight List
	  <div class="pull-right">
	    <button class="btn btn-default" ng-click="reload()">
	      <i class="fa fa-fw fa-refresh"></i>&nbsp;Refresh
	    </button>
	  </div>
	</h3>
	<hr>

	<div ng-if="!flights" class="text-center" style="padding: 20px 20px">
	  <i>No flights available.</i>
	</div>

	<div ng-if="flights">
	  <table class="table" style="margin-bottom: 0px">
	    <thead>
	      <tr>
		<th>#</th>
		<th>Flight Number</th>
		<th>UAV</th>
		<th class="text-center">Status</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="f in flights">
		<td>
		  <span class="marker marker-ok"></span>
		  [[ $index+1 ]]
		</td>
		<td>[[ f.number ]]</td>
		<td>[[ f.uav ]]</td>
		<td class="text-center">
		  <i class="fa fa-square" style="color: [[ get_color(f.status) ]]"></i>
		</td>
	      </tr>
	    </tbody>
	  </table>

	  <div class="text-center">
	    <table class="table" style="margin-top: 10px; margin-bottom: 5px">
	      <tr>
		<td ng-repeat="s in states">
		  <i class="fa fa-square fa-lg" style="color: [[ s.color ]]"></i>
		  <span>&nbsp;[[ s.text ]]</span>
		</td>
	      </tr>
	    </table>
	  </div>

	</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!--
    Local Variables:
    truncate-lines: true
    End:
  -->
