<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %} Example {% endblock %}
    </title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    {% block head %}
    {% endblock %}

  </head>
  <body>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>

<!--
    Local Variables:
    truncate-lines: true
    End:
  -->
