/* -*- mode: css; coding: utf-8 -*- */

body {
    padding-top: 80px;
    background-color: #f5f5f5;
}

.btn.btn-themed {
    color: #fff;
    background-color: #00914C;
    font-weight: bold;
}

.navbar-primary {
    background-color: #00914C;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.navbar-primary .navbar-header {
    color: #fff;
}

.navbar-primary .navbar-nav > .active > a,
.navbar-primary .navbar-nav > .active > a:focus,
.navbar-primary .navbar-nav > .active > a:hover,
.navbar-primary .navbar-nav a:hover {
    color: #fff;
    background-color: #00A352;
}

.navbar-primary .navbar-nav .dropdown-menu a {
    color: inherit;
}

.navbar-primary .navbar-nav .dropdown-menu a:hover {
    color: #00A352;
    font-weight: bold;
    border-left: 3px solid #00A352;
    background-color: #eee;
}

.navbar-primary .navbar-nav a,
.navbar-primary .navbar-nav a:focus {
    color: #fff;
    background-color: inherit;
}

.panel hr {
    border-top: 3px solid #00914C;
    margin-left: -15px;
    margin-right: -15px;
}
