<div ng-controller="EventLogInsertCtrl">

  <div class="panel panel-default">
    <div class="panel-body">
      <h3 style="margin-top: 5px">Insert new Flight</h3>
      <hr>

      <div class="form-group">
	<label for="uav-name">UAV Name</label>
	<input type="text" class="form-control" id="uav-name"
	       ng-model="uav_name">
      </div>
      <div class="form-group">
	<label for="flight-number">Flight Identifier</label>
	<input type="text" class="form-control" id="flight-number"
	       ng-model="flight_number">
      </div>

      <div class="pull-right">
	<button style="width: 100px" class="btn btn-themed"
		ng-click="insert()">Insert</button>
      </div>

    </div>
  </div>

  <div ng-show="insert_ok" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" ng-click="insert_ok = false">
      <i class="fa fa-times"></i></button>
    <strong>OK!</strong> Flight inserted correctly.
  </div>

</div>

<!--
    Local Variables:
      truncate-lines: true
    End:
-->
