{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-sm-offset-2 col-sm-8">

    <div class="alert alert-success text-center">
      Great! You are successfully registered. Welcome!<br>
      Now, you can <a href="/accounts/login/">log in.</a>
    </div>

  </div>
</div>

{% endblock %}
