{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-sm-offset-3 col-sm-6">

    <div class="text-center">
      <h3>Please, fill in the following fields</h3>
    </div>

    <br>
    <div class="well" style="background-color: white">
      <form method="POST" action="/accounts/register/">
	{% csrf_token %}

	<div class="form-group">
	  {{ form.username.label_tag }}
	  {{ form.username }}
	  {{ form.username.errors }}
	</div>

	<div class="form-group">
	  {{ form.password1.label_tag }}
	  {{ form.password1 }}
	  {{ form.password1.errors }}
	</div>

	<div class="form-group">
	  {{ form.password2.label_tag }}
	  {{ form.password2 }}
	  {{ form.password2.errors }}
	</div>

	<hr />

	<div class="form-group">
	  {{ form.first_name.label_tag }}
	  {{ form.first_name }}
	  {{ form.first_name.errors }}
	</div>

	<div class="form-group">
	  {{ form.last_name.label_tag }}
	  {{ form.last_name }}
	  {{ form.last_name.errors }}
	</div>

	<div class="form-group">
	  {{ form.email.label_tag }}
	  {{ form.email }}
	  {{ form.email.errors }}
	</div>

	<hr>
	<div class="text-right">
	  <input class="btn btn-default" type="button" value="Cancel"
		 style="width: 100px" onClick="window.history.back()"/>
	  <input class="btn btn-themed" type="submit" value="Register"
		 style="width: 100px"/>
	</div>
      </form>
    </div>

  </div>
</div>

{% endblock %}
